@charset "utf-8";

body{
        font-family: 'Sacramento',cursive ;
        
        
        
}
*{
        margin:0px;
        padding: 0px;
}
#main {
        
        width: 100%;
        background: url("cricket.jpg") fixed;
        background-size: 100%;
       /* background-repeat: no-repeat; */
}
#menu{
        background:#1783b9;
        
        width:100%;
        line-height:100px;
        height:100px;
        border-bottom: 5px solid black;
}
#menu ul{
        float:right;
        margin-right: 15px;
}

#menu img{
        width: auto;
        position: absolute;
        height: 100px;
        border-right: 5px solid black;
        background-attachment: fixed;
}
#menu ul li{

        font-size:2.0em;
        margin-right: 40px;
        float: left;
        display: inline-block;
        list-style-type: none;
        background-attachment: fixed;
}

#menu ul li:hover{
        background: DarkOrange;

}

#menu a{
        text-decoration: none;
        font-style: bold;
        color: white;
}

#content{
        text-align: center;
        padding-top: 40px;
        line-height:70px;
        overflow: auto;
        
        
}

#content h3{
        font-weight: 900;
        font-size: 30px;
        line-height: 80px;
        width:100%;
}

#content p{
        font-family: Calibre;
        font-size: 20px;
}
     
.headbackground{
        background: rgba(255, 140, 0, 0.71);
        float:center;
        border-radius: 10px 10px 0px 0px;
}

.parabackground{
        float: center;
        margin: auto;
        background: rgba(255, 255, 255, 0.71);
        border-radius: 0px 0px 10px 10px;
}
.parabackground p{
        text-align: center;
}

.box1{
        float: center;
        margin:90px;
        border-radius: 10px;
        border: 1px solid;
}

.box2{
        float: center;
        padding:90px;
        border-radius: 10px;
}

.box3{
        float: center;
        padding:90px;
        border-radius: 10px;
}
